In [690]:
# import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [691]:
# XỬ LÝ FILE CSV BỊ LỖI:
def write_to_csv(path,one_row,method = 'a'):
    # one_row = ['c','de','guii','hij']
    import csv
    with open(path, method, encoding='UTF-8', newline='') as file_handle: #------------ EDIT TYPE OF WRITING: w = write, a = append -----------
        writer = csv.writer(file_handle)
        # write a row to the csv file #------ MAIN ---------
        writer.writerow(one_row)
def read_rows_csv(path):
    import csv
    lines = []
    with open(path) as file_handle:
        file_lines = csv.reader(file_handle)
        for line in file_lines:
            lines.append(line)
    return lines #------------ lines = [ ['a','b','c', ...],[...], ... ] each element is a row.

folder = r'K:\LEARN AI FPT\TERM 3\AI - DS with Python - SQL\Datasets\bank\\'
file = folder + 'bank.txt'
f = open(file,'r')
f = f.readlines()
for k in f:
    row = [dt.replace('"','').strip() for dt in k.strip().split(';')]
    '''if row[-1].strip() == 'no':
        row[-1] = 0
    elif row[-1].strip() == 'yes':
        row[-1] = 1'''
    write_to_csv(folder + 'bankk.csv',row)

In [692]:
folder = r'K:\LEARN AI FPT\TERM 3\AI - DS with Python - SQL\Datasets\bank\\'
file = folder + 'bankk.csv'
df = pd.read_csv(file, header=0)

In [693]:
df.head()
#---
root_cols = list(df.columns)

In [694]:
df = df.dropna()

In [695]:
print (df.shape)

(54263, 17)

In [696]:
print(list(df.columns))

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [697]:
#drop columns which are not needed.
# KEEP: job   marital  default  housing  loan  poutcome    y = [1 2 4 6 7 15 16 ]
keep_cols = [1,2,4,6,7,15,16]
drop_cols = []
print(df.columns[9])
for k in range(len(df.columns)):
    if k not in keep_cols:
        drop_cols.append(k)
        
#drop columns which are not needed.
df.drop(df.columns[drop_cols], axis = 1, inplace = True)

day

In [698]:
df.head()

           job  marital default housing loan poutcome   y
0   unemployed  married      no      no   no  unknown  no
1     services  married      no     yes  yes  failure  no
2   management   single      no     yes   no  failure  no
3   management  married      no     yes  yes  unknown  no
4  blue-collar  married      no     yes   no  unknown  no

In [699]:
# creating one hot encoding of the categorical columns.
data = pd.get_dummies(df, columns =['job', 'marital', 'default', 'housing', 'loan', 'poutcome'])

In [700]:
data.head()

,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_job,job_management,job_retired,job_self-employed,job_services,...,housing_no,housing_yes,loan_loan,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_poutcome,poutcome_success,poutcome_unknown
0,no,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
1,no,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,1,0,0,0,0
2,no,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,1,0,0,0,0
3,no,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,1
4,no,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1

In [701]:
data.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_job', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown', 'marital_divorced', 'marital_marital',
       'marital_married', 'marital_single', 'default_default', 'default_no',
       'default_yes', 'housing_housing', 'housing_no', 'housing_yes',
       'loan_loan', 'loan_no', 'loan_yes', 'poutcome_failure',
       'poutcome_other', 'poutcome_poutcome', 'poutcome_success',
       'poutcome_unknown'],
      dtype='object')

In [702]:
data

,y,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_job,job_management,job_retired,job_self-employed,job_services,...,housing_no,housing_yes,loan_loan,loan_no,loan_yes,poutcome_failure,poutcome_other,poutcome_poutcome,poutcome_success,poutcome_unknown
0,no,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
1,no,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,1,0,0,0,0
2,no,0,0,0,0,0,1,0,0,0,...,0,1,0,1,0,1,0,0,0,0
3,no,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,1
4,no,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54258,no,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,0,0,0,1
54259,no,0,0,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
54260,no,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
54261,no,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
54262,no,0,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,1,0,0,0

In [703]:
data.columns[12]

'job_unemployed'

In [704]:
# drop columns that has no values (_unknown)

keep_cols = ['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur', 
'job_housemaid', 'job_management', 'job_retired', 'job_self-employed', 
'job_services', 'job_student', 'job_technician', 'job_unemployed',
'marital_divorced', 'marital_married', 'marital_single', 'default_no', 
'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
'poutcome_failure', 'poutcome_nonexistent', 'poutcome_success']

drop_cols = []
for k in range(len(data.columns)):
    if data.columns[k] not in keep_cols:
        drop_cols.append(k)

data.drop(data.columns[drop_cols], axis=1, inplace=True)

In [705]:
data.columns

Index(['y', 'job_admin.', 'job_blue-collar', 'job_entrepreneur',
       'job_housemaid', 'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single', 'default_no',
       'default_yes', 'housing_no', 'housing_yes', 'loan_no', 'loan_yes',
       'poutcome_failure', 'poutcome_success'],
      dtype='object')

In [706]:
X = data.iloc[:,1:]

In [707]:
X.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,marital_married,marital_single,default_no,default_yes,housing_no,housing_yes,loan_no,loan_yes,poutcome_failure,poutcome_success
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,1,0,1,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0,1,0,1,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,1,1,0,0,1,1,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,0,0,0

In [708]:
Y = data.iloc[:,0]

In [709]:
Y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [710]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=0, train_size=0.6)

In [711]:
Y_test.head()

24840    no
9527     no
12761    no
18361    no
44970    no
Name: y, dtype: object

In [712]:
classifier = LogisticRegression(solver='lbfgs',random_state=0,max_iter=1000000)

In [713]:
classifier.fit(X_train, Y_train)

LogisticRegression(max_iter=1000000, random_state=0)

In [714]:
predicted_y = classifier.predict(X_train[:1]) #-------here-----

In [715]:
predicted_y

array(['no'], dtype=object)

In [716]:
for x in range(len(predicted_y)):
    if (predicted_y[x] == 'yes'):
        print(x, end="\t")

In [717]:
print('Accuracy: {:.2f}'.format(classifier.score(X_test, Y_test)))

Accuracy: 0.89

In [718]:
# TEST MODEL WITH NEW DATA:

headers = root_cols[:-1]
new_data = '20 student single tertiary no 100 no no cellular 17 oct 120 3 0 0 unknown' #--------- EDIT THIS ---------
new_data = [t.strip() for t in new_data.strip().split(' ') ]
new_data = [new_data[k] for k in [1,2,4,6,7,15]]
headers = [headers[k] for k in [1,2,4,6,7,15]]

#create dataframe for new_data:
columns = list(X.columns)
vals = [0] * len(columns)
for k in range(len(columns)):
    z = columns[k].strip().split('_')
    title = z[0]
    val = z[1]
    index = headers.index(title)
    if new_data[index] == val:
        vals[k] = 1

lines = [vals]
new_df = pd.DataFrame(lines, columns = columns)

# test model with new_data:
classifier.predict(new_df)

array(['no'], dtype=object)